---
import '@/styles/globals.css'
import Layout from '@/layouts/Layout.astro';
import IntroCard from '@/components/IntroCard.astro'
import Game from "../components/Game.astro";
import YoutubeVideo from "../components/YoutubeVideo.astro";
import Section from "../components/Section.astro";
---

<Layout title="Evan Luo Portfolio">
	<div class="grid xl:grid-cols-4 md:grid-cols-3 gap-4 w-full h-full">
		<IntroCard></IntroCard>
		<YoutubeVideo title="Self Introduction" videoCode="Ivuy9QYLFVY"/>
		<Game gameName="The Golden Age" md="the-golden-age.md" cover="https://s2.loli.net/2024/05/24/zWIlyZmQkacx3vS.png"/>
		<Game gameName="Escape From the Circus" md="escape-from-the-circus.md" cover="https://s2.loli.net/2024/05/26/aIdvCFlENz6VMP8.png"/>
		<Section title="2024 Games"/>
		<Game gameName="Be Summoned" md="be-summoned.md" cover="https://s2.loli.net/2024/05/26/Q2IWBVSfar5NsOL.png"/>
		<Game gameName="The Golden Age" md="the-golden-age.md" cover="https://s2.loli.net/2024/05/24/zWIlyZmQkacx3vS.png"/>
		<Game gameName="The Golden Age" md="the-golden-age.md" cover="https://s2.loli.net/2024/05/24/zWIlyZmQkacx3vS.png"/>
		<Game gameName="The Golden Age" md="the-golden-age.md" cover="https://s2.loli.net/2024/05/24/zWIlyZmQkacx3vS.png"/>
	</div>
</Layout>