---
import '@/styles/globals.css'
import Layout from '@/layouts/Layout.astro';
import IntroCard from '@/components/IntroCard.astro'
import Game from "../components/Game.astro";
import YoutubeVideo from "../components/YoutubeVideo.astro";
---

<Layout title="Evan Luo Portfolio">
	<div class="grid xl:grid-cols-4 md:grid-cols-3 gap-4 w-full h-full">
		<IntroCard></IntroCard>
		<YoutubeVideo title="Self Introduction" videoCode="Ivuy9QYLFVY"/>
		<Game gameName="The Golden Age" md="the-golden-age.md"/>
		<Game gameName="The Golden Age" md="the-golden-age.md"/>
		<Game gameName="The Golden Age" md="the-golden-age.md"/>
		<Game gameName="The Golden Age" md="the-golden-age.md"/>
		<Game gameName="The Golden Age" md="the-golden-age.md"/>
		<Game gameName="The Golden Age" md="the-golden-age.md"/>
	</div>
</Layout>