---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle
} from "./ui/card";

import {Content} from '../contents/home/about-me.md';
---

<div class="col-span-1 row-span-2">
    <Card className="h-full">
        <CardHeader>
            <CardTitle>About me</CardTitle>
        </CardHeader>
        <CardContent>
            <div class="text-justify hyphens-auto">
                <Content />
            </div>
        </CardContent>
    </Card>
</div>