---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle
} from "./ui/card";

const { md, gameName, cover } = Astro.props

const games = await Astro.glob("../contents/games/*.md")
const Content = games
  .find((x) => {
      const paths = x.file.split('/')
      return paths[paths.length - 1] === md
  })!
  .Content
---

<div class="col-span-1 row-span-1">
    <Card className="hover:cursor-pointer hover:border-primary relative overflow-clip">
        <CardContent className="p-0">
            <div class="w-full h-40">
                <img class="w-full h-full object-cover" src={cover}>
            </div>
            <div class="m-4 space-y-1">
                <h3 class="font-bold text-xl">{gameName}</h3>
                <div class="text-justify hyphens-auto">
                    <Content/>
                </div>
            </div>
        </CardContent>
    </Card>
</div>