---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle
} from "./ui/card";

const { md, gameName } = Astro.props

const games = await Astro.glob("../contents/games/*.md")
const Content = games
  .find((x) => {
      const paths = x.file.split('/')
      return paths[paths.length - 1] === md
  })!
  .Content
---

<div class="col-span-1 row-span-1">
    <Card>
        <CardContent>
            <div class="mt-6 space-y-3">
                <h3 class="font-bold text-xl">{gameName}</h3>
                <div class="content">
                    <Content/>
                </div>
            </div>
        </CardContent>
    </Card>
</div>

<style>
    .content {
        hyphens: auto;
    }
</style>