---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle
} from "./ui/card";

import {Button} from "./ui/button"

import {Github, Mail} from "lucide-react"

import {Content} from '../contents/home/intro.md';
---

<div class="xl:col-span-3 md:col-span-2 row-span-1">
    <Card className="h-full">
        <CardHeader>
            <CardTitle>Who Am I?</CardTitle>
        </CardHeader>
        <CardContent>
            <Content />
        </CardContent>
        <CardFooter>
            <div class="flex space-x-3">
                <Button variant="secondary" size="icon">
                    <Github></Github>
                </Button>
                <Button variant="secondary" size="icon">
                    <Mail></Mail>
                </Button>
            </div>
        </CardFooter>
    </Card>
</div>