---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle
} from "./ui/card";

import {Button} from "./ui/button"

import {BlueSkyIcon} from "./blue-sky-icon";

import {Github, Mail} from "lucide-react"

import {Content} from '../contents/home/intro.md';
---

<div class="xl:col-span-3 md:col-span-2 row-span-1">
    <Card className="h-full">
        <CardHeader>
            <CardTitle>Who Am I?</CardTitle>
        </CardHeader>
        <CardContent>
            <div class="text-justify hyphens-auto text-lg">
                <Content />
            </div>
        </CardContent>
        <CardFooter>
            <div class="flex space-x-3">
                <a href="https://github.com/EvanLuo42">
                    <Button size="icon">
                        <Github></Github>
                    </Button>
                </a>
                <a href="mailto:ziyun.luo@icloud.com">
                    <Button size="icon">
                        <Mail></Mail>
                    </Button>
                </a>
                <a href="https://bsky.app/profile/el42.cc">
                    <Button size="icon">
                        <BlueSkyIcon/>
                    </Button>
                </a>
            </div>
        </CardFooter>
    </Card>
</div>