---
import {
  Card,
  CardContent
} from "./ui/card";

const { title, className } = Astro.props
---

<div class:list={["col-span-1 row-span-1", className]}>
    <Card className="h-full">
        <CardContent className="h-full flex items-center justify-center mt-3">
            <h3 class="text-4xl font-bold">{title}</h3>
        </CardContent>
    </Card>
</div>