---
import {Card, CardContent, CardFooter, CardHeader, CardTitle} from "./ui/card";
import {Github, Mail} from "lucide-react";
import {Button} from "./ui/button";
---

<div class="xl:col-span-3 md:col-span-2 row-span-2">
    <div class="h-full flex items-center justify-center">
        <iframe class="border-card rounded-lg overflow-clip w-full h-[250px] lg:h-full" src="https://www.youtube.com/embed/Ivuy9QYLFVY?si=tZS0NBsV75ua4FLn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>