<div
    class="
        prose
        max-w-full
        dark:prose-invert
        prose-h1:scroll-m-20
        prose-h1:font-extrabold
        prose-h1:text-4xl
        lg:prose-h1:text-5xl
        prose-h1:tracking-tight
        prose-h2:scroll-m-20
        prose-h2:text-3xl
        prose-h2:font-semibold
        prose-h2:tracking-tight
        prose-h2:border-b
        prose-h2:pb-2
        prose-h2:first:mt-0
        prose-h3:scroll-m-20
        prose-h3:text-2xl
        prose-h3:font-semibold
        prose-h3:tracking-tight
        prose-h4:scroll-m-20
        prose-h4:text-xl
        prose-h4:font-semibold
        prose-h4:tracking-tight
        prose-p:leading-7
        prose-img:mt-0
        prose-img:mb-0
        prose-img:rounded-lg
        prose-img:w-full
        "
>
    <a href="/games/be-summoned"><h2>The Golden Age</h2></a>
    <div class="flex space-x-5">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TF-rpHMk4Y4?si=Rs-_MCOwGTVSI6Kf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <div>
            <ul>
                <li>ASDF</li>
                <li>ASDF</li>
            </ul>
        </div>
    </div>
</div>